{% extends "base.html" %}
{% block content %}
<h2>Wealcome ,{{user}}</h2>
<div class="card">
    <h3>Resume Analyser</h3>
    <form method="POST" enctype="multipart/form-data">
        <textarea name="resume" placeholder="Paste your resume (optional)"></textarea>
        <p> Or upload file </p>
        <input type="file" name="file">
        <input name="role" placeholder="What do you want to become?(e.g Backend Engineer)" required> >
        <button type="submit">Analyze</button>
    </form>
</div>
{% endblock %}
