{% extends "base.html" %}

{% block content %}

<div class="auth-container">
    <div class="auth-card">
        <h2>
            Creat Account
        </h2>
        <p class ="sub text">
            Start your AI Career Journey    
        </p>
        <from method="POST">
            <input type="email" name="email" placeholder="Enter your email"required>
            <input type="password" name="password" placeholder="Create password" required>
            <p class="sub-txt"> Use atleast 6 characters </p>
            <button type="submit">Sign Up</button> 
            
        </from>
    </div>

</div>